<div class="container mx-auto px-4 py-8">
  <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg grid grid-cols-1 lg:grid-cols-2">

    <div class="p-6">
      <!-- Formulario para actualizar la información del personaje -->
      <form (ngSubmit)="createEpisode()" #episodeForm="ngForm">

        <div class="mb-4">
          <label class="text-gray-400" for="name"><strong>Nombre:</strong></label>
          <input type="text" id="name" name="name" [(ngModel)]="episode.name" required
            class="w-full bg-gray-900 text-white border-2 border-gray-700 rounded px-3 py-2">
        </div>

        <div class="mb-4">
          <label class="text-gray-400" for="airDate"><strong>Fecha:</strong></label>
          <input type="date" id="airDate" name="airDate" [(ngModel)]="episode.airDate" required
            class="w-full bg-gray-900 text-white border-2 border-gray-700 rounded px-3 py-2">
        </div>

        <div class="mb-4">
          <label class="text-gray-400" for="episodeCode"><strong>Codigo Episodio:</strong></label>
          <input type="text" id="episodeCode" name="episodeCode" [(ngModel)]="episode.episodeCode" required
            class="w-full bg-gray-900 text-white border-2 border-gray-700 rounded px-3 py-2">
        </div>

        <div class="mb-4">
          <label class="text-gray-400" for="url"><strong>Url:</strong></label>
          <input type="text" id="url" name="url" [(ngModel)]="episode.url" required
            class="w-full bg-gray-900 text-white border-2 border-gray-700 rounded px-3 py-2">
        </div>

        <!-- <div class="mb-4">
          <label class="text-gray-400" for="origin"><strong>Origen:</strong></label>
          <input type="text" id="origin" name="origin" [(ngModel)]="character.origin.name" required
            class="w-full bg-gray-900 text-white border-2 border-gray-700 rounded px-3 py-2">
        </div>

        <div class="mb-4">
          <label class="text-gray-400" for="location"><strong>Última Ubicación:</strong></label>
          <input type="text" id="location" name="location" [(ngModel)]="character.location.name" required
            class="w-full bg-gray-900 text-white border-2 border-gray-700 rounded px-3 py-2">
        </div> -->

        <!-- <div class="mb-4">
          <label class="text-gray-400" for="description"><strong>Descripción:</strong></label>
          <textarea id="description" [(ngModel)]="character.description" name="description"
            class="w-full bg-gray-900 text-white border-2 border-gray-700 rounded px-3 py-2"></textarea>
        </div> -->

        <!-- Botón para guardar los cambios -->
        <div class="mt-6">
          <button type="submit" [disabled]="!episodeForm.form.valid"
            class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded transition duration-300">
            Guardar
          </button>
        </div>
      </form>
      <!-- Botón para volver a la lista de personajes -->
      <div class="mt-6">
        <button (click)="goBack()"
          class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded transition duration-300">
          Volver a la lista de personajes
        </button>
      </div>
    </div>
  </div>
</div>